@font-face {
    font-family: 'nexa_bold';
    src: url('../fonts/nexa/nexa-bold-webfont.woff2') format('woff2'),
         url('../fonts/nexa/nexa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nexa_light';
    src: url('../fonts/nexa/nexa-light-webfont.woff2') format('woff2'),
         url('../fonts/nexa/nexa-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body { color: #1d1d1d!important; }
.l-1{line-height: 1.1rem;}
.l-2{line-height: 2rem;}
.nexa-light {font-family: nexa_light;}
.nexa-bold {font-family: nexa_bold;}
.size-48{font-size: 48px;}
.blue{ color: #80bdce; }
.padding-top-10{padding-top: 10px;}
.padding-bottom-10{padding-bottom: 10px;}
.school-banner .links {margin-top: 122px; margin-left: 1px;}
.school-banner .page-title { margin-top: 170px;}
/*.school-banner .links a{padding: 10px 0;}*/
.margin-top-10{margin-top: 10px;}
.margin-bottom-10{margin-bottom: 10px;}
.margin-left-negative-35 {margin-left: -35px;}
.margin-top-negative-360 {margin-top: -360px;}
.light-green{color: #6bb3a2}
.white{color: #ffffff;}
.bg-light-green{background-color: #6bb3a2;}
.btn-light-green{color:#fff; background-color: #6bb3a2; border: #6bb3a2; cursor: pointer;}
.bg-light-blue{background-color: #80bdce;}
.bg-dark-blue{background-color: #5f8e9b;}
.font-size-14px {font-size: 14px;}
.font-size-16px {font-size: 16px;}
.green-number{font-family: nexa_bold; color: #6bb3a2; font-size: 16px;}
.banner {background: url(../img/staff-rate-schools-home_06.png) no-repeat center center;}
.results-banner {height: 205px; background: url(../img/staff-rate-schools-home_08.png) no-repeat center center;}
.school-banner{height: 385px; background: url(../img/staff-rate-schools-home_10.png) no-repeat center center;}
.banner .container {height: 576px;}
.border {border-color: #eeeded;}
.border-bottom { border-bottom: 1px solid #eeeded;}
.filter-results .border { border-color: #cfcfcf; }
.filter-results .border-bottom { border-bottom: 1px solid #cfcfcf;}
.black{color: #1d1d1d!important;}
.nav-tabs {background-color: #fff;}
.nav-tabs .nav-link {text-align:center; background-color: #ffffff; border-radius: 0; font-family: nexa_bold; color: #1d1d1d!important; width: 10rem;}
.nav-tabs .nav-link.active{background-color:#6bb3a2; color: #fff!important;}
@media (max-width: 575px) {
    .top-schools {
        font-size: 1.6rem;
    }
    .top-school-img {
        width: 95%;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .top-school-img {width: 401px;}
    .top-schools {font-size: 2.67rem;}
    .pull-lg-right{ float: right}
}
@media (min-width: 1200px) {
    .container {
        max-width: 1065px;
    }
    .banner-text {margin-top: 170px!important;}
    .pull-lg-right{ float: right}
}